body {
    background-color: black;
}

h1 {
    color: white;
    font-family: sans-serif;
}
p {
	color: white;
	font-family: oswald;
    font-style: normal;
    font-size: 1.25em;
}
h2 {
	color: white;
	font-family: bottom;
}
h3 {
	color: white;
	font-family: sans-serif;
}
h4 {
    font-family: sans-serif;
}
ul {
	color: lightblue;
	font-family: serif;
	font-style: 1.25em;
}

div { text-align: center; }
ul { display: inline-block; text-align: left;}

a {
	color: lightblue;
}

#one{
background-color: lightblue;
border: 6.25% solid gray;
padding: 125% solid gray;
margin: 25px;
}

#two{
background-color: black;
border: 6.25% solid gray;
padding: 125% solid gray;
}

#three{
background-color: black;
border: 6.25% solid gray;
padding: 125% solid gray;
}
#four{
text-align: center;
}

#block{
	text-align:center;
	display: inline-block;
}

.ricky{
background-color: green;
border: 1px black solid;
padding: 20px;
float: left;
width: 40%;
}
.wrapper
{
text-align: center;
}
.gym
{
text-align: center;
}
.group
{
text-align: center;
}
.description
{
  background-color: lightblue;
    border: 6.25% black;
    padding: 125% solid gray;
    float: left;   
    width: 52%;
}
#two_column {
    background-color: #FFFF00;
    border: 1px black solid;
    padding: 20px;
}

#left {
    background-color: #00FF00;
    border: 6.25% black solid;
    padding: 2%;
    float: left;
    width: 40%;
    text-align: center;
}

#right {
    background-color: pink;
    border: 0 1% black solid;
    padding: 2%;
    float: right;   
    width: 45%;
    text-align: center;
}

.center {
    margin: 25px;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}


