body {
    background-color: black;
}

h1 {
    color: white;
    font-family: sans-serif;
}
p {
	color: white;
	font-family: oswald;
    font-style: normal;
    font-size: 20px;
}
h2 {
	color: white;
	font-family: bottom;
}
h3 {
	color: white;
	font-family: sans-serif;
}
ul {
	color: lightblue;
	font-family: serif;
	font-style: 22px;
}

div { text-align: center; }
ul { display: inline-block; text-align: left;}

a {
	color: lightblue;
}
#two{
border: 10px solid gray;
padding: 20px solid gray;
margin: 0 auto;
text-align: center;
}


#block{
	text-align:center;
	display: inline-block;
}

#ricky{
  text-align: right;
  font-size: 20px;
  border: 5px grey;
  padding: 10px;
  margin: 0 auto;
}
#description
{
border: 10px solid gray;
padding: 20px solid gray;
margin: 0 auto;
text-align: center;
}